services:
  nginx:
    build: ./nginx
    ports:
      - "8080:80"
    depends_on:
      - frontend
      - backend

  backend:
    build: ./backend
    # ports: - "8000:8000"  <-- Ya no es obligatorio exponerlo al exterior
    environment:
      - MONGO_URI=mongodb://db:27017/law-ai
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    # ports: - "5173:5173"  <-- Ya no es obligatorio exponerlo al exterior
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    command: npm run dev -- --host

  db:
    image: mongo:latest
    ports:
      - "27017:27017"  # <--- Esto mapea el puerto interno al externo
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
  frontend_node_modules: